# Default owner
*                         @ittaiz @damienmg

# Java owners
java/*                    @ittaiz @damienmg
javatests/*               @ittaiz @damienmg

# Python owners

# Go owners
go/*                      @jayconrod, @achew22
