# Default owner
*                         @ittaiz

# Java owners
java/*                    @ittaiz
javatests/*               @ittaiz

# Python owners

# Go owners
go/*                      @jayconrod, @achew22
